body {
  text-align: center;
  background-color: black;
}

h1 {
  color: #ffaeb1;
  font-family: "Garamond", "serif";
  font-size: 40px;
  text-align: left;
  padding-left: 30px;
}

p {
  color: #ffaeb1;
  font-family: "Garamond";
  font-size: 20px;
  word-wrap: break-word;
  width: 600px;
  text-align: left;
  padding-left: 30px;
}

h3 {
  color: black;
  font-family: "Garamond";
  font-size: 20px;
}

.btn {
  background-color: #ffaeb1;
  text-decoration: none;
  border: 1px solid #333333;
  color: black;
}

.center {
  text-align: center;
  color: black;
  background-color: #ffaeb1;
  width: 360px;
  border: 1px solid #333333;
  padding: 10px;
  margin: auto;
}

img{
  float: right;
  padding-right: 300px;
  padding-top: 15px;
}

a {
  color: black;
}

c {
  text-align: center;
}

video{
  float: right;
  padding-right: 300px;
  padding-top: 10px;
}
