body {
  background-color: aqua;
  color: black;
  text-align: center;
}

h1 {
  color: black;
  font-family: "Garamond", "serif";
  font-size: 38px;
  text-align: left;
}

p {
  color: black;
  font-family: "Garamond";
  font-size: 18px;
}

.left {
  width: 500px;
  height: 50px;
  padding: 10px;
  text-align: left;
}

.btn{
  background-color: aquamarine;
  text-decoration: none;
  color:black;
  border: 1px solid #333333;
}